@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}

.tab-content {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tab-content.active {
  opacity: 1;
}

.tab-content.hiddenTab {
  display: none;
}

.tab-btn.active {
  background-color: #204341; /* Update with actual color */
  color: #fff; /* Update with actual text color */
}

.customShadow {
  box-shadow: 0px 0px 30px 0px #00000040;
}
